/*

Sandy Gross
Project 1
CSS Main

*/


* {
	font-family: Verdana, sans-serif;
}

body {
	color: #744404;
	width: 100%;
}


h1 {
	color: #666;
	font-size: 48px;
	padding: 25px 0 0 0;
	text-align: center;
}


.img-responsive {
	max-width: 100%;
	height: auto;
}


h2 {
	color: #f07c17;
	font-size: 28px;
	padding: 0 0 0 2px;
	letter-spacing: .4px;
	word-spacing: .5px;
}

.box-left {
	border: 1px solid #ccc;
	padding: 10px 0 0 30px;
	margin: 30px 0 0 0;
	line-height: 32px;
	font-size: 16px;
}


.box-list {
	padding: 16px 0 30px 0;
}


.col-md-5 {
	margin: 20px 0 0 0;
}


.para {
	padding: 16px 0 0 0;
	line-height: 32px;
	word-spacing: .38px;
	letter-spacing: .61px;
	font-size: 15.5px;
	color: #666;
	font-weight: 500;
}